@tailwind base;
@tailwind component;
@tailwind utilities;

/* *{
    margin: 0%;
    padding: 0%;

}

body{
    height: 100;
    display: flex;
    background-color: beige;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




}
header{ 
    text-align: center;
    background-color: beige;
    color: cyan;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1em;
    bottom: 0%;
    position: fixed;
    width: 100%;
 }

 .header{
    margin-top: 50px;
    text-align: center;
    padding: 100px;
    background-color: azure





Footer{
 text-align: center;
 background-color: beige;
 color: black;
 font-size: 40px;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 position: fixed;
 padding: 0cqw;
 width: 100%;
 bottom: 0%;
} */